<ul *ngIf="videos">
  <li
    *ngFor="let video of videos"
    (click)="selectVideo(video)"
    [class.selected]="selectedVideo === video.id"
  >
    <app-video-thumbnail [video]="video"></app-video-thumbnail>
  </li>
</ul>
<p *ngIf="!videos">Loading Videos...</p>
