ul {
  padding: 15px;
}

li {
  list-style: none;
  border: 2px solid teal;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px;
  text-align: center;
}

.selected {
  background-color: #9e009e;
  color: white;
}
