<h2>Stat Filters</h2>

<form [formGroup]="statFiltersForm">
  <input type="number" formControlName="age" />

  <select formControlName="region">
    <option
      *ngFor="let regionOption of regionOptions"
      [value]="regionOption.value"
    >
      {{ regionOption.label }}
    </option>
  </select>

  <input type="date" formControlName="date" />

  <input [formControl]="titleSearch" />
</form>
