<app-video-list
  [videos]="videoList | async"
  [selectedVideo]="currentVideoId | async"
></app-video-list>
<app-video-player [videoId]="currentVideoId | async"></app-video-player>
<app-stat-filters></app-stat-filters>
